Options +FollowSymLinks -MultiViews
RewriteEngine on

RewriteRule ^details/product_([a-z_-]+)$ /products/details.php?producto_slug=$1 
RewriteRule ^auth$ app/AuthController.php
RewriteRule productos$ app/ProductsController.php
